@import "tailwindcss";

:root {
  --app-bg: #051014;
  --surface: #2E2F2F;
  --muted: #ACBDBA;
  --primary: #CDDDDD;
  --accent: #A599B5;
}

@theme inline {
  --color-app-bg: var(--app-bg);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--app-bg);
  color: var(--primary);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
